
.observer_banner {
    color: #e1e8ef;
    background: #191919;
    text-align: center;
    height: 5%;
    /* font-family: "OptimusPrinceps", sans-serif; */
    font-size: 2rem;
    /* display: flex; */
}

.observer_banner_span {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: 100%;
}

.body2 {
    background: #191919;
    height: 100%;
    margin: 0;
}

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.div_banner {
    flex: 0 1 5%;
    /* vertical-align: middle; */
}

.div_banner_text {
    color: #e1e8ef;
    min-height: 100%;
    font-family: "OptimusPrinceps", sans-serif;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_iframe {
    flex: 1 1 auto;
}

.iframe_dndbeyond {
    width: 100%;
    height: 96%;
    border-width: 0px;
}

.object_dndbeyond {
    width: 100%;
    height: 96%;
    border-width: 0px;
}

.embed_dndbeyond {
    width: 100%;
    height: 96%;
    border-width: 0px;
}